extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to update
  else
    - let hotelID = toShow._id
    - let hotelType = toShow.hotelType
    - let price = toShow.price
    - let capacity = toShow.capacity
    
    div.row(class='mb-2')
        div.mr-1 ID is
        div #{hotelID}
    - let actionid = "/resource/hotels/" + hotelID
    form(id='hotelForm', action= actionid, method="PUT")
        div.form-group
            label.costumeAttr(for='hotelType') hotel Type
            input#hotelType(type='text', name='hotelType', value= hotelType )
        div.form-group
            label.costumeAttr(for='price') hotel Price
            input#price(type='number', name='price', value= price )
        div.form-group
            label.costumeAttr(for='location') hotel Capacity
            input#capacity(type='text', name='capacity', value= capacity )

        input(type="submit")

    script.
        document.forms['hotelForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        console.log(event.target)
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
            method: 'PUT',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
            alert("Update succeded")
            // TODO handle body
        }).catch((error) => {
            // TODO handle error
            alert("Update failed " + error )
        });
        });